@media screen and (max-width: 1100px) {
  .top-blog-nav ul li {
      list-style-type: none;
      padding: 12px 12px;
      font-size: 14px;
      white-space: nowrap;
      margin-right:0;
  }

  main#blog article.post .blog-image-wrapper {
    width:100%;
    padding-bottom:0%;
    border-radius:0;
  }

  main#blog article.post .blog-image-wrapper img {

  }

}

@media screen and (max-width: 980px) {
  main#blog .main-article .blog-image-wrapper {
    padding-bottom:100%;
  }

  article.main-article .first-blog-image {
    width:calc(60% - 14px);
  }

  article.main-article .blog-post-content {
    width: calc(40% - 20px);
  }

  main#blog h2 {
    font-size:30px;
    line-height:36px;
    margin-bottom:20px;
  }

  main#blog .latest-article h4 {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 800px) {
  .top-blog-nav .search-input {
    display:none;
  }
}

@media screen and (max-width : 700px) {


  #error {
    min-height:auto;
    background-color:var(--white-blu);
  }

  #error .foglio {
    min-height:auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    color:var(--dark-blu);
  }

  main#blog .blog-latest .flexi-cont {
  justify-content: space-between;
}


    body.logged-in.admin-bar header {

    }

    header.light-them {
      background:transparent;
      box-shadow: none;
    }


    header.light-them.filled.dis {
      top:0;
    }


    header.light-them .top-buttons {
      top:auto;
    }


    header.light-them .header-center {
      height:auto;
    }

   header.light-them nav ul li a {
     color:var(--light-sand);
   }

   header.light-them header,
   header.light-them.filled {
     background-color:transparent;
     box-shadow: none;
   }

   header .logo,
   header.light-them .dark-log {
     display:none;
   }

   header.light-them .top-buttons {
     display:none;
   }

   header.light-them nav {
     display:block;
   }



   header.light-them nav .menu-top-nagivation-container {
     padding-top:90px;
   }

   header.light-them nav ul li {
     padding:4px 0px;
   }

   header.light-them nav ul li a {
     font-size:20px;
   }

   .top-blog-nav {
     position:absolute;
     height:auto;
     bottom:0;
     width: 70vw;
     flex-direction: column;
     padding: 25px;
     box-sizing: border-box;
     left:0;
     opacity:1;
     transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
   }

   header .search-submit {
     right: 8px;
    top: 10px;
   }

   header.light-them.resp-out .top-blog-nav {
     left:-75vw;
     opacity:0;
   }

   .top-blog-nav .foglio {
     width:100%;
   }

   .top-blog-nav .search-input {
     right:auto;
     margin-top:auto;
     position:relative;
   }

   .top-blog-nav ul li {
     display: block;
     padding:0;
     margin-right:0;
     margin-bottom:4px;
   }

   header .search-input .search-field {
    width: calc(70vw - 50px);
    padding: 10px 18px;
  }

  .top-blog-nav .search-input {
    margin-top: 16px;
    display:block;
  }

  .blog-top {
    padding-top: 20px;
  }

  .blog-resp-logo {
    display: block;
    margin:20px 0px 0px 20px
  }

  .blog-resp-logo .dark-log {
    width:120px;
  }

  article.main-article {
    flex-direction: column;
  }

  article.main-article .first-blog-image,
  article.main-article .blog-post-content {

    width:100%;
  }

  main#blog .main-article .blog-image-wrapper {
    padding-bottom: 60%;
  }

  main#blog .blog-post-content {
    margin-top:16px;
  }

  main#blog a h2 {
    margin-top:8px;
  }

  main#blog .blog-section-title .big-big {
    white-space: nowrap;
  }

  main#blog .featured-article {
    width:100%;
  }

  main#blog .blog-section-title {
    margin-bottom:20px;
  }

  main#blog .latest-article {
    width: calc(50% - 8px);
    margin-bottom: 20px;
  }

  main#blog .latest-article h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .search-red-top {
    flex-direction: column;
  }

  .tag-sub {
    font-family:var(--bodys);
    font-size:14px;
    line-height:18px;
    margin-bottom:0;
  }

  .search-red-top h1 {
    margin-left:0;
  }

  .blog-inside-top {
    padding-top: 20px;
  }


  article.post {
    padding-top:10px;
  }

  .article-single-top {
    padding-bottom:30px;
  }

  main#blog article.post .author .avatar {
    width: 36px;
    height: 36px;
}

main#blog article.post .author-bottom .author .avatar {
  width: 56px;
  height: 56px;
}

  article.post h1 {

    font-size: 32px;
    line-height: 38px;
    margin-top:8px;
  }

  main#blog article.post .article-image .blog-image-wrapper {
    padding-bottom:0%;
  }

  main#blog article.post .article-image .blog-image-wrapper img {
    width:100%;
    height:auto;
  }

  main#blog article.post .the-content {
    padding-top:30px;
  }

  main#blog article.post .article-meta,
  main#blog article.post .article-meta a {
    font-size:12px;
  }

  main#blog article.post blockquote {
    font-size: 20px;
    line-height: 1.8em;
    font-weight: 600;
    padding-left: 20px;
    border-left: 1px solid var(--yellow);
    margin: 10px 0px;
  }

  main#blog .featured-article {
    margin-bottom:60px;
  }

}
