.get-started-hero, 
.get-started-hero .area {
    min-height:100svh;
}

.get-started-hero.nu,
.get-started-hero.nu .area {
  min-height:0;
}

.get-started-hero {
    padding:0;
}

.get-started-hero .buttons {
    margin-top:50px;
}

.get-started-hero .sub-section {
    margin-bottom:0;
    margin-top:60px;
}

.get-started-hero.nu .area .col-full:first-child  {
  padding-top:60px;
  padding-bottom:20px;
}

.get-started-hero.nu {
  padding-bottom:50px;
}

.get-started-hero-back{
    position: absolute;
    width: 100%;
    height: 100svh;
    top: 0;
    right: 0;
    background-image: url(../img/backgrounds/svario-tr2.png);
    background-repeat: no-repeat;
    background-size: auto 900px;
    background-position: calc(100% + 50px) bottom;
}

.get-started-hero-back.nu {
  opacity:.5;
}

.pin-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.pin {
    width: 10px;
    height: 10px;
    background: var(--white);
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    animation-name: pulse;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.pin:before {
    position:absolute;
    content:"";
    border-radius:100%;
    border:1px solid rgba(255,255,255,0.4);
    width:26px;
    height:26px;
    left:-9px;
    top:-9px;
  }


@keyframes pulse {
    from {
      opacity:50%;
      transform: scale(.6);
    }
  
    to {
      opacity:1;
      transform: scale(1);
    }
  }

.pin1 {
    top: 140px;
    right: 450px;
}

.pin2 {
    top: 276px;
    right: 100px;
}

.pin3 {
    top: 495px;
    right: 284px;
}

.pin4 {
    top: 490px;
    right: 470px;
}

.pin5 {
    top: 600px;
    right: 150px;
}

.get-steps {
    padding:0;
}

.get-steps .area {
    width:calc(100% - 100px);
    margin-left:100px;
}

.get-start-icon-case {
    width:78px;
    height:78px;
    position:absolute;
    top:140px;
    right:120px;
    border-radius:100%;
    background:var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-start-icon-case img {
    width:38px;
    height:auto;
    max-height:40px;
    filter:grayscale(1) brightness(3);
}
.get-steps .steps {
    width:calc(100% - 100px);
    
}

.get-step {
    min-height:100svh;
    width:100%;
    position:relative;
}


.steps-counter {
    width:100px;
    height:100svh;
    position:sticky;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.steps-counter .counting {

    width:50px;
}

.get-step .button {
    margin-top:30px;
}

.stp {
  color: var(--white);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: var(--lb-transp);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0;
  margin: 8px auto;
}

.stp.current {
    font-size:26px;
    border:1px solid var(--white);
    background:transparent;
    width:36px;
    height:36px;
}

.get-step.choose {
    height:max-content;
    padding:60px 0px 100px 0px;
    min-height: 0;
}


.get-step.choose .col-full {
    padding-top:80px;
}

/* images section*/

.onboarding-images {
    position:relative;
    width:100%;
  }
  
  
.onb-images img {
    width:calc(100% + 2px);
    left:-1px;
    top:-1px;
    margin-bottom:-5px;
    position:relative;
    height:auto;
    
  }

  .onb-images {
    transition-duration: .6s;
  }
  
  .onb-2 {
    width:340px;
    height:max-content;
    position:relative;
    border-radius:24px;
    background-color:var(--card-dark-blu);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    z-index:3;
    overflow: hidden;
    transition-duration: .6s;
    
  }
  
  .onb-1 {
    width:260px;
    height:max-content;
    position:relative;
    border-radius:24px;
    background-color:var(--card-dark-blu);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    margin-right:-80px;
    z-index:2;
    overflow: hidden;
    transform:scale(1);
    opacity:.7;
    transition-duration: .6s;
    
  }

  .onb-images.pre {
    opacity:0;
  }

  .onb-images.pre .onb-1 {
    transform:translateX(50px)
  }

  .onb-images.pre .onb-2 {
    transform:translateX(-50px)
  }


.wallet-images {
    position:relative;
    width:calc(100% - 50px);
    transition-duration: .6s;
  }
  
  .wallet-images img {
    width:calc(100% + 2px);
    left:-1px;
    top:-1px;
    margin-bottom:-5px;
    position:relative;
    
    
  }
  
  .wallet-1 {
    width:300px;
    height:max-content;
    position:relative;
    border-radius:24px;
    background-color:var(--card-dark-blu);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    z-index:3;
    overflow: hidden;
    transition-duration: .6s;
    
  }
  
  .wallet-2{
    width:250px;
    height:max-content;
    position:relative;
    border-radius:24px;
    background-color:var(--card-dark-blu);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    margin-left:-20px;
    z-index:2;
    overflow: hidden;
    transition-duration: .6s;
    
  }

  .wallet-images.pre {
    opacity:0;
  }

  .wallet-images.pre .wallet-1 {
    transform:translateX(50px)
  }

  .wallet-images.pre .wallet-2 {
    transform:translateX(-50px)
  }

  .get-image-resp {
    display:none;
  }


  .full-screen-dao {
    border-radius:12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    z-index: 3;
    overflow: hidden;
    transition-duration: .6s;
    z-index:3;
  }

  .pre  .full-screen-dao {
    transform:scale(.9);
  }

  .pre  .full-screen-dao.behind {
    transform:translateY(-40px);
  }

  .full-screen-dao.behind {
    width:60%;
    opacity:.7;
    z-index:2;
    margin-top:-60px;
  }


  .get-pricing {
    padding-bottom:120px;
  }


  /*get started intro*/

  .get-started-hero.intro .area {
    min-height:0;
  }

  .get-started-hero.intro .col-8 {
    padding-top:90px;
  }

  .get-started-hero.intro .col-x {
    width:calc(50% - 10px);
  } 

  .get-started-hero.intro .area:last-child {
    padding:100px 0px;
    position:relative;
    z-index:2;
  }

  .absolut-alert {
    color:var(--light-blu);
    position:absolute;
    top:-30px;
    left:-10px;
    font-style: italic;
    font-size:14px;
  }

  .bottom-alert {
    position:absolute;
    bottom:20px;
    left:0px;
    font-style: italic;
    font-size:14px;
    color:var(--white);
    line-height:22px;
  }

  .bottom-alert a {
    color:var(--light-blu);
    text-decoration: underline;
  }