:root {

/* Colors: */


--dark-blu: #1B2B5E;
--medium-blu: #293E83;
--light-blu: #3550AF;
--white-blu: #F4F8FB;
--yellow: #FFBC00;
--light-sand: #F7F7F2;
--grey: #E5E5E5;
--titles: 'DM Serif Display', serif;
--bodys: 'Raleway', sans-serif;
--box-shadow: 0px 0px 20px rgba(186,182,164,0.3);
--radial-blu-gradient: radial-gradient( #253979 , #0D1A45);
}


/* Log-in screen */

body.login {
  background:var(--radial-blu-gradient);
  position:relative;

}

#login {
  position:relative;
}

.login label {
  opacity:.6;
}

body.login::before {
  position:absolute;
  width:600px;
  height:600px;
  content:"";
  background-image: url("../img/header-background-1.png");
  background-size: 600px;
  bottom:0;
  right:0;
  opacity:.2;
  pointer-events: none;
}

body.login div#login h1 a {
  background-image:url(../img/round-logo.svg);

}

body.login form {
  background: rgba(255,255,255,0.06);
  color:var(--light-sand);
  border:none;
  border-radius:16px;
}

body.login #login_error, body.login .message, body.login .success {
      border-left: 4px solid var(--light-sand);
      background-color: rgba(255,255,255,0.1);
      color:var(--light-sand);
      border-radius:4px;
      box-shadow: none;
}


body.login #loginform input {
  background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 0;
    color: var(--light-sand);
    font-size: 14px!important;
    padding:12px;
    border-radius:50px;
}

body.login #loginform input:focus {
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  border-color: var(--light-sand);
}

.login #nav a {
  color: var(--light-sand);
  position:relative;
}


.login #nav a:hover {
  color:var(--light-sand);
}


.login #nav a:before {
  content:"";
  width:0%;
  height:1px;
  background-color:var(--light-sand);
  position:absolute;
  left:0;
  bottom:-6px;
  transition-duration:.2s;
}



.login #nav a:hover:before {
  width:100%;
}


.login #backtoblog {
  display:none;
}

.login .button.wp-hide-pw {
  top:3px;
}

.dashicons-visibility:before {
  color:var(--light-sand);
  opacity:.8;
  transition-duration:.2s;
}

.dashicons-hidden:before {
  color:var(--light-sand);
}

.dashicons-visibility:hover:before {
  opacity:1;
}

body.login #loginform input#wp-submit {
    padding: 4px 20px;
    color: var(--light-sand);
    background-color: transparent;
    transition-duration:.2s;
}

body.login #loginform input#wp-submit:hover {
  background-color:var(--light-sand);
  color:var(--dark-blu);
  border-color: var(--light-sand);
}



body.login input[type=checkbox]:checked::before {
    content: "*";
    margin: 14px 0px 0px -3px!important;
    color:var(--light-sand);
  }

body.login #login h1 {
    position:relative;
  }

body.login #login h1:before {

  }


.login #backtoblog, .login #nav {
      padding: 0;
  }

body.login input[type=checkbox], input[type=radio] {
    height: 1.5625rem;
    width: 1.5625rem;
}

body.login input[type=checkbox]:checked:before {
    width: 1.875rem;
    height: 1.875rem;
  }

body.login input:-webkit-autofill,
body.login input:-webkit-autofill:hover,
body.login input:-webkit-autofill:focus,
body.login textarea:-webkit-autofill,
body.login textarea:-webkit-autofill:hover,
body.login textarea:-webkit-autofill:focus,
body.login select:-webkit-autofill,
body.login select:-webkit-autofill:hover,
body.login select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--light-sand);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

body.login .privacy-policy-page-link {
  display:none;
}
