#newsletter-page-header {
    width:100%;
    height:340px;
    background-image:url("https://mautic.hypha.earth/media/files/6816dfaaab1a84a27504890250c2ff917800a916.jpg");
    background-size:cover;
    background-position: center;
}

.top-nl-logos {
    margin:auto;
    padding:60px 0px 0px 0px;
    text-align:center;
    font-size:12px;
    max-width:400px;
    
}

.top-nl-logos img.rl {
    width:48px;
    display:block;
    margin:auto;
}

.top-nl-logos img.tl {
    width:118px;
    display:block;
    margin:auto;
    margin-top:18px;
}

.prefcenter {
    color:var(--light-blu);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:700;
    margin:0;
}

.disclaimer {
    margin:12px;
}

#preference-center-mautic {
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 10%);
    max-width: 720px;
    width: calc(100% - 80px);
    margin: auto;
    transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
    box-sizing: border-box;
    padding: 40px;
    min-height: 400px;
    color: var(--dark-blu);
    overflow:hidden;
    
}

.pcm-top {
    text-align:center;
}

#pref-space {
    background:var(--white-blu);
}

#preference-center-mautic h2.titoletto {
    color:var(--light-blu);
}

#preference-center-mautic .fake-title {
    color:var(--dark-blu);
    margin-top:14px;
}

#form-wrap {
    position:relative;
    padding:40px 0px;
    margin-top:40px;
}

#form-wrap::before {
    content:"";
    position:absolute;
    width:calc(100% + 80px);
    left:-40px;
    top:0px;
    height:calc(100% + 80px);
    background:var(--white-blu);
}

#form-wrap form {
    position:relative;
}

#form-wrap .form-line1 {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#form-wrap .form-line1 .mauticform-row {
    width:calc(50% - 14px);
    margin-bottom:24px;
 
}


#form-wrap form input {
    padding:14px;
    border-radius:50px;
    border:1px solid transparent;
    background:var(--white);
    width:calc(100% - 28px);
    color:var(--dark-blu);
}

#form-wrap .fluentform form input[type='checkbox'],
#form-wrap .fluentform form input[type='radio'] {
    padding:inherit;
    border-radius:auto;
    border:none;
    background:var(--white);
    width:23px;
    color:var(--dark-blu);
}

#form-wrap form input::placeholder {
    color:var(--dark-blu);
    opacity:40%;
}

#form-wrap form input:focus,
#form-wrap form input:active {
    outline: none!important;
    border:1px solid var(--light-blu);
}

#form-wrap form input.mauticform-checkboxgrp-checkbox {
    width:auto;
}

#mauticform_hyphawebsite_privacy_and_terms {
    padding:22px;
    background:rgba(255,255,255,0.4);
}

#form-wrap .flexer {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.flexer .mauticform-checkboxgrp-row {
    margin-right:0px;
}

.flexer .mauticform-checkboxgrp-row a {
    color:var(--dark-blu);
    font-weight:700;
    text-decoration:underline;
}

#mauticform_hyphawebsite_submit {
    display:flex;
    align-items: center;
    padding-top:60px;
    justify-content: center;
}

#mauticform_hyphawebsite_submit button {
    color:var(--white);
    background-color:var(--dark-blu);
    padding:14px 32px;
    border-radius:50px;
    border:none;
    font-weight:600;
    font-size:16px;
    cursor:pointer;
    transition-duration:.4s;
}

#mauticform_hyphawebsite_submit button:hover {
    background-color:var(--light-blu);
}

@media screen and (max-width:640px) {
    #preference-center-mautic {
        width:calc(100% - 44px);
        padding:22px;
    }

    #preference-center-mautic .fake-title {

    }

    #form-wrap .form-line1 .mauticform-row {
        width:100%;
        margin-bottom:16px;
    }

    .disclaimer {
        margin:12px 0px;
    }
}

