@media only screen and (max-width : 1300px) {
    .area.top-title-pricing  {
        flex-wrap: wrap;
    }
    .pricing-hero-top .top-title-pricing .col-8,
    .pricing-hero-top .top-title-pricing .col-4 {
        width:100%;
    }

    .top-title-pricing p {
        margin-top:15px;
    }
}

@media only screen and (max-width : 1190px) {
    .area {
        width: calc(100% - 120px);
    }

    .get-steps .area {
        width: calc(100% - 60px);
        margin-left: 60px;
    }

    .generic-card .title-medium {
        font-size:40px;
    }

    .home-header .area .col-8,
    .home-header .area .col-full {
        width:100%;
    }

    .cta-top-section {
        display:none;
    }

    .home-back {
        background-position: calc(100% + 250px) center;
    }


    .pin3,.pin7 {
        display:none;
    }

    #opening .col-half {
        width:80%;
    }

    .feature-animations {
        width:100%;
    }

    .feature-animations {
        transform:scale(.94);
    }

    .col-half.with-features {
        background-position:99px 0px, 193px 0px, 287px 0px, 381px 0px;
    }

    .footer-social.flex {
        flex-wrap: wrap;
    }

    .footer-social.gap-20 .col-4,
    .footer-social.gap-20 .col-8 {
      width: 100%;
  }


  .has-social {
      margin-top:0;
  }

  .col-8.has-social.flex.gap-20 .col-full{
      width:calc(25% - 28px);
  }

  #features .buttons .button {
    width:100%;
    text-align: center;
  }

  .get-started-hero-back {
    background-position: calc(100% + 200px) bottom;
    }

    .get-started-hero-back .pin1 {
        right: 280px;
    }
    .get-started-hero-back .pin4 {
    right: 300px;
    }
}

@media only screen and (max-width: 1068px) {
    #daos .area.with-titles  {
        padding-bottom: 0px;
    }

    #daos {
        background-size: 140%;
    }

    .home-header .area .col-8 p.text-20 {
        padding-right:0;
    }

    header#header {
        height:100svh;
        background:var(--card-dark-blu);
        width:calc(100% - 40px);
        right:0;
        display:block;
    }

    header.up {
        top:0px;
    }

    header {
        left:100%;
        opacity:0;
    }

    header.in {
        left:40px;
        opacity:1;
    }

    header .area {
        margin:0;
        width:100%;
        
    }

    .header-logo {
        position:absolute;
        top:36px;
        left:26px;
    }

    header nav {
        padding-top:80px;
        padding-left:26px;
    }
    
    header nav ul li {
        display:flex;
        padding:0;
        
        
    }

    header nav ul li a {
        max-width: calc(100% - 26px);
        border-radius:4px;
        transition-duration: .3s;
        padding:12px 40px;
        width:100%;
    }

    header nav ul li a:hover,
    header nav ul li a:active {
        background:var(--dark-blu);
    }

    header nav ul li:before {
        bottom: 18px;
        left: 12px;
        transform: translateX(0%);
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    .burger {
        display:block;
        position:fixed;
        top:24px;
        right:24px;
        width:36px;
        height:36px;
        border-radius:6px;
        background:var(--card-dark-blu);
        z-index:1000;
        cursor:pointer;
        padding:8px 6px;
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        transition-duration: .3s;
      }

      .burger:hover {
        background:var(--gradient);
      }

      .burger span {
        width: 100%;
        height:2px;
        border-radius:2px;
        background:var(--white);
        transition-duration:.3s;
      }

      .burger.clicked span:nth-child(2){
        opacity:0;
        
      }

      .burger.clicked span:nth-child(1){
        transform:rotate(45Deg) translate(4px, 4px);
      }

      .burger.clicked span:nth-child(3){
        transform:rotate(-45Deg) translate(5px, -5px);
      }

     #obs {
        display:block;
        position:fixed;
        width:100%;
        height:100svh;
        background:rgba(10,10,20,0.8);
        z-index:500;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        opacity:0;
        pointer-events: none;
        transition-duration:.3s;
     } 

     #obs.in  {
        opacity:1;
     }

    section.home-header {
        padding-bottom:60px;
    }
    .home-header .area,
    .home-header .area .col-8,
    .home-header .area .col-full {
    min-height:0;
    height:max-content;
    max-height: none;
    align-items: flex-start;
    }

    .home-header .area .col-8,
    .home-header .area .col-full {
        padding-bottom:0px;
    }

    .title-big .text-gradient {
        background:var(--white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .home-back {
    background-position: calc(100% + 350px) top;
    opacity: .7;
    }

    .text-opening {
        padding-bottom:0px;
        padding-top:160px;
    }

    .bottom-head-video {
        bottom:0;
    }

    .pin1 {
        top: 110px;
        right: 40px;
    }

    .pin2 {
        top: 280px;
        right: 80px;
        animation-delay: .2s;
    }

    .pin5 {
        top: 420px;
        right: 130px;
    }
    .pin6 {
        top: 580px;
    }


    /* respo logo */

    .resp-logo {
        display:block;
        position:absolute;
        top:26px;
        left:0px;
        width:140px;
    }

    .resp-logo img {
        width:100%;
    }

    #opening {
        background-position: 50px 100px , -100px 800px;
    }


    /* typography*/

    .title-big {
        font-size:52px;
    }

    /* layout */

    .gap-20 {
        gap:20px;
    }

    .col-3 {
        width:50%;
    }

    .gap-20 .col-3,
    .gap-20.wrap .col-3 {
        width: calc(50% - 10px);
    }

    .opening .col-3 {
        margin-bottom:30px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .sub-section.flex {
        flex-wrap: nowrap;
    }

    .col-8,
    .col-7,
    .col-5,
    .col-half,
    .pricing-hero-top .top-title-pricing .col-4 {
        width:100%;
    }

    .col-8,
    .gap-20 .col-8 {
        width: 100%;
    }

    .col-7,
    .gap-20 .col-7 {
        width: 100%;
    }


    /* features */

    #features {
        background:none;
        overflow: hidden;
    }

    #features .area.with-titles {
        flex-wrap: wrap;
        padding-bottom:20px;
    }

    #features .area.with-titles .col-half {
        width:100%;
    }

    #features .area:nth-child(2) .col-half {
        width:100%;
    }

    #features .area:nth-child(2) .col-half.with-features {
        display:none;
    }

    .feat-section-explainer {
        height:max-content;
        min-height:0;
        padding: 60px 0px;
    }


    #testimonials-carousel {
        width:calc(100% - 80px);
    }

    #testimonials-carousel .owl-nav {
        right:-100px;
        top:0;
    }

    .resp-features-home {
        display:grid;
        width:100%;
        place-items: center;
      }

      .resp-features-home img.f1 {
        width: calc(100% + 200px);
        object-fit: cover;
        height: 100%;
        aspect-ratio: 16 / 11;
        overflow: hidden;
    
      }  

      /* cta */

      .cta-bottom {
        padding-top:40px;
        margin-top:40px;
      }

      .cta-card ul {
        padding-top:40px;
      }

      /* audience */

      #audience {
        padding-bottom: 60px;
      }

      #audience .col-4 {
        width:100%;
        margin-bottom: 40px;
      }

      /* wallet */

      #wallet {
        padding-top:160px;
      }

      

      #wallet .col-5 {
        width:calc(50% - 14px);
      }

      #wallet .col-7 {
        width:calc(50% - 14px);
      }

      #wallet .col-5 .buttons {
        flex-wrap: wrap;
      }

      .wallet-1 {
        height:max-content;
      }

      .wallet-2 {
        display:none;
      }


      .gap-20 .col-4 {
        width: calc(50% - 10px);
    }

      .title-big br {
        display:none;
      }

      .top-social {
        display:none;
      }


      .footer-nav-1 nav ul {
        flex-wrap: wrap;
      }

      .footer-nav-1 nav ul li {
        width:calc(25% - 20px);
      }

      .footer-newsletter .col-4,
      .footer-newsletter .col-8,
      .footer-newsletter.gap-20 .col-4,
      .footer-newsletter.gap-20 .col-8 {
        width:100%;
      }

      footer form,
      footer form .mauticform-innerform {
        margin-top:0;
      }

      .footer-bottom .gap-20 {
        gap:5px;
      }

      #features .buttons {
        gap:0;
      }

      

      #features .buttons .button {
        min-width:max-content;
        width:calc(50% - 20px);
        text-align: center;
      }

      .get-started-hero-back {
        background-position: calc(100% + 300px) top;
        opacity:.7;
        }
    
        .get-started-hero-back .pin1 {
            right: 180px;
        }
        .get-started-hero-back .pin4 {
        right: 200px;
        }

        .get-started-hero .col-8,
        .get-started-hero .col-9 {
            width:100%;
            padding-bottom: 80px;
            padding-top: 100px;
        }

        
        .get-started-hero.intro .col-8,
        .get-started-hero.about-us .col-9 {
            padding-bottom:0;
        }

        .get-started-hero.nu .area .col-full:first-child {
            padding-top:0;
            padding-bottom:0;
        }

        .get-started-hero.nu .col-8, 
        .get-started-hero.nu .col-9 {
            padding-bottom: 40px;
        }

        .get-started-hero, 
        .get-started-hero .area {
            min-height:0;
        }

        .get-step .col-half {
            width:calc(50% - 10px);
        }

        .get-step.gap-50 {
            gap:20px;
        }

        .onb-1 {
            display:none;
        }

        .wallet-images.pre .wallet-1 {
            transform: translateX(-50px);
        }

        /*.wallet-images,
        .onb-images {
          display:none;
        }*/

        #inside-anchor-3 .col-8 {
            width:100%;
        }

        .get-start-icon-case {
            top:100px;
            right:0;
        }


        .gap-20 .col-8 {
            width: calc(50% - 10px);
        }


        /*price plans*/

        .price-column {
            width:calc(50% - 10px);
        }

        .price-column.has-total {
            width:100%;
        }

        /*news menu*/

        .news-menu {
            width: 100%;
            background: var(--gradient);
            margin: 0px auto;
            border-radius: 0;
            padding: 18px 18px 18px 64px;
        }

        header .news-menu nav {
            padding-top:0px;
        }

        header .news-menu nav ul li {
            padding:0;
            display:flex;
        }

        header .news-menu nav ul li a {
            max-width:max-content;
        }

        header .news-menu nav ul {
            display:flex;
            flex-wrap:wrap;
            padding:0;
        }

        

        header .news-menu nav ul li a {
            padding:8px;
            margin:0;
            box-sizing: content-box;
            color:var(--card-dark-blu);
        }

        header .news-menu nav ul li {
            margin-right:12px;
        }

        header .news-menu nav ul li.current-menu-item a {
            color: var(--card-dark-blu);
            background: transparent;
            border: 1px solid var(--card-dark-blu);
        }

        .news-top-area {
            padding-top: 110px;
        }

        .news-hero-top.category.article .gap-50 {
            gap:20px;
        }

        .news-hero-top.category.article .gap-50 .col-8 {
            width:100%;
        }

        .news-hero-top.category.article .gap-50 .col-4 {
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top:0px;
        }

        .author-top-card {
            padding:14px;
        }

        .author-top-card .avatar {
            width:60px;
            height:60px;
        }

        .social-share {
            margin-bottom:0;
        }

        .col-4.has-search-form {
            width:100%;
        }

        .generic-hero, 
        .generic-hero .area {
            min-height:0;
    }
    .generic-hero {
        padding-bottom:70px;
    }

    .generic-hero .col-9 {
        padding-top: 140px;
        width:100%;
    }

    .generic-hero.lead .col-half:not(:last-child) {
        padding-top: 70px;
        width:100%;
    }

    .generic-hero-back {
        background-position: calc(100% + 50px) top;
    }

    .generic-hero.not-found .col-9 {
        padding-top:60px;
    }

    .generic-hero.not-found .col-9 br {
        display:none;
    }
      
    .area.with-feature-carousel {
        width: calc(95% - 200px);
        margin: auto;
        position: relative;
        margin-top:60px;
    }

    #features-overview .owl-nav {
        position: absolute;
        bottom: 80px;
        left: -10%;
        width: 120%;
    }

    #features-overview .owl-carousel .owl-nav button.owl-prev:before,
    #features-overview .owl-carousel .owl-nav button.owl-next:before {
        width:30px;
    }

    .feature-list .col-2 {
        width:calc(33.33% - 15px);
    }


    

    .feat-top {
        display:none;
    }

    .features-hero .button.secondary {
        display:none;
    }

    .features-hero .resp-image,
    .features-hero .resp-image.shape {
        display:block;
    }

    .feature-cpt-list .wrap .col-4,
    .related-features .wrap .col-4 {
        width:calc(50% - 10px);
    }

    .area-spacer {
        border-bottom:1px solid var(--lb-transp);
        margin-bottom:50px;
        padding-bottom:50px;
    }
    
    .area-spacer:last-child {
        border-bottom:none;
        margin-bottom:0px;
        padding-bottom:0px;
    }

    .feature-details .gap-50,
    .features-hero.single-feature .gap-50 {
        row-gap: 30px;
    }


    .values .area:not(:last-child) {
        margin-bottom:60px;
    }
    
    .values .area .col-half:nth-child(even) {
        margin-top:0px;
    }

    .values  {
        padding-top:0;
    }

    .special-image {
        aspect-ratio: 5 / 4;
    }

    .get-started-hero.about-us .col-7 {
        padding-top:80px;
    }

    .feat-use-image {
        display:none;
    }

    .feat-use-image-resp {
        display:block;
        position:relative;
        border-radius:18px;
        overflow: hidden;
        aspect-ratio: 3 / 2;
        margin:40px 0px;
    }

    .feat-use-image-resp img {
        position:relative;
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .get-started-hero.about-us .buttons {
        display:none;
    }

    .get-started-hero.intro.use-cases .col-x,
    .work-with-us .col-x {
        width:100%;
    }

    .carousel-image img,
    .embedwrapper {
        border-radius: 16px;
    }

    #hyphalab .area:not(:last-child) {
        margin-bottom:50px;
        padding-bottom:50px;
        border-bottom:1px solid var(--lb-transp);
    }

    #hyphalab .buttons.hide-resp {
        display:none;
    }
    
    #hyphalab .buttons.show-resp {
        display:inline-block;
    }

    .home-header .area .col-full .title-giga {
        font-size:62px;
    }

    #main-ctas {
        display:none;
    }

    .title-giga {
        font-size: 72px;
    }


    .new-payoffs {
        display:none;
    }

    .resp-payoff {
        display:block;
    }

    #payoff-controller {
        display:none;
    }

    .pdf-hero-top .col-8 {
        width:calc(100%);
    }
    
    .pdf-hero-top .col-4 {
        width:calc(100%);
    }

    .pdf-hero-top .area {
        padding-top:140px;
    }

    #summary .area {
        max-width:100%;
    }

    .pdf-hero-top .buttons {
        padding-bottom:50px;
    }

    /* service CPT */

    .service-hero .col-4,
    .service-detail .col-4 {
        width:100%;
    }

    .service-card img {
        display:none;
    }

    .service-hero .area,
    .service-detail .area {
        flex-direction: column-reverse;
    }

    .service-resp-image {
        display:block;
        width:100%;
        height:100%;
        aspect-ratio: 16 / 8;
        object-fit: cover;
        border-radius:16px;
        margin:30px 0px;
    }

    .services-list .gap-20 .col-half {
        width: 100%
    }
        
    .services-hero-back {
        background-position: calc(100% + 300px) top;
    }

    .ribbon {
    top:0;
    padding:22px 15px;
    z-index:10;
    }

    .has-social p {
        font-size: 13px;
        display: none;
    }
    
}



@media only screen and (max-width: 768px) {

    .col-4,
    .gap-20 .col-4{
        width:100%;
    }
   

    #opening .col-half {
        width:100%;
    }

    .cta-card .wrappo {
        padding:32px;
    }

    .cta-card ul li {
        font-size:16px;
        line-height: 16px;
    }

    #wallet .col-5,
    #wallet .col-7 {
        width: 100%;
    }

    #wallet .col-7 {
        display:none;
    }

    .col-8 {
        width: 100%;
    }

    .wallet-resp {
        position:relative;
        width:100%;
        display:flex;
        align-items: center;
        margin-top:50px;
    }

    .wallet-resp img {
        height:max-content;
    }


    .wallet-resp .wr-1 {
        width: 65%;
        z-index: 2;
        border-radius:18px;
        height:auto;
    }

    .wallet-resp .wr-2 {
        width: 45%;
        margin-left: -10%;
        border-radius:10px;
        height:auto;
    }

    .stores {
        padding-top: 40px;
    }

    .testim-top img {
        margin-right:0;
    }

    .testim-top {
        gap:10px;
    }

    .footer-nav-1 nav ul li {
        width: calc(33% - 20px);
    }

    .col-8.has-social.flex.gap-20 .col-full {
        width: calc(50% - 10px);
    }

    .footer-bottom {
        gap:28px;
    }

    #features .buttons {
        flex-wrap: wrap;
    }

    #features .buttons .button {
        min-width:max-content;
        width:100%;
        text-align: center;
      }

     
      .get-step .col-half {
        width:calc(100%);
    }

    .onb-images,
    .wallet-images {
        display:none;
    }

    .get-image-resp {
        display:flex;
        padding:30px 0px;
    }

   

    .generic-card .wrappo {
        padding:34px;
    }

    .get-image-resp img {
        max-width:100%;
        margin-bottom:-5px;
    }

    .get-image-resp .onb-1 {
        display:block;
    }

    .get-image-resp .onb-1 {
        width:45%;
        height:max-content;
        margin-right: -40px;
    }

    .get-image-resp .onb-2 {
        width:55%;
        height:max-content;
    }

    .get-step {
        padding: 50px 0px;
    }

    .no-resp {
        display:none;
    }

   .recent-news .gap-20 .col-3, 
   .recent-news .gap-20.wrap .col-3 {
    width:100%;
   }

   .news-item {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lb-transp);
    }

    .cat-article-wrap .news-item {
        margin-bottom:20px;
    }

    .news-hero-top.category {
        padding-bottom: 130px;
    }

    .news-hero-top.category.article {
        padding-bottom: 100px;
    }

    .news-hero-top.category.education {
        padding-bottom: 0px;
    }

    .learn-with-video .title-medium, .knowledge-top-stories .title-medium {

    }


    .col-full.no-results {
        padding:30px;
    }

    .generic-hero h1.title-giga {
        font-size:52px;
    }

    .generic-hero-back {
        background-position: -400px top;
    }

    .not-fa {
        opacity:.1;
        font-size:100px;
    }

    .area.with-feature-carousel {
        width: calc(100% - 100px);
        margin: auto;
        position: relative;
        margin-top:60px;
    }

    #features-overview .owl-nav {
        position: absolute;
        bottom: 80px;
        left: -40px;
        width: calc(100% + 80px);
    }

    #features-overview .owl-carousel .owl-nav button.owl-prev:before,
    #features-overview .owl-carousel .owl-nav button.owl-next:before {
        width:15px;
    }

    .feature-cpt-list .wrap .col-4,
    .related-features .wrap .col-4 {
        width:100%;
    }
    
    /*.features-hero.single-feature .sub-section {
        display:none;
    }

    .features-hero.single-feature h1.title-big {
        padding-top:65px;
    }*/

    .faeture-icon-big {
        position: absolute;
        right: auto;
        left: -42px;
        top: 148px;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: var(--gradient);
    }

    .faeture-icon-big img {
        width:16px;
        max-height: 20px;
    }

    .features-hero.single-feature .sub-section {
        font-size:11px;
    }

    .features-hero.single-feature .text-28 {
        font-size: 22px;
        font-weight: 400;
        margin: 20px 0px 0px 0px;
        line-height: 1.4em;
    }

    .features-hero.single-feature .icon.small {
        opacity:0;
    }

    .get-started-hero.intro .col-x,
    .work-with-us .col-x {
        width:100%;
      } 

      #timeline-carousel {
        padding-top: 30px;
        margin-top:30px;
    }



    .work-with-us {
        padding-bottom:80px;
    }

    .carousel-image img,
    .embedwrapper {
        border-radius: 10px;
    }

    .gap-20 .col-8 {
        width: 100%;
    }

    .members-card .testim-bottom {
        gap:10px;
    }

    #audience .col-4 {
        width: 100%;
        margin-bottom: 0px;
    }

    .footer-newsletter .text-14 {
        margin-top: 20px;
        display: block;
    }

    .buttons {
        width:100%;
    }

    #hyphalab .buttons.show-resp {
        margin-top:40px;
    }

    footer form .mauticform-innerform {
        flex-wrap: wrap;
        gap:26px;
        margin-top: 30px;
    }

    footer form .pre-button {
        width:100%;
    }

    footer form .pre-checkbox {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    #news br {
        display:none;
    }

    .home-header .area .col-full .title-giga {
        font-size:52px;
    }

    .footer-nav-2 ul li div {
        width: 100%;
    }

    .service-resp-image {
        aspect-ratio: 16 / 10;
    }

    .service-hero .text-28 {
        font-size:18px;
        line-height:1.4em;
        font-weight:600;
    }

    .activation-method .flex {
        justify-content: flex-end;
    }

    .pop-inside {
        padding:20px 0px 20px 20px;
    }

    img.delete-app.alignnone {
        max-width: calc(50% - 20px);
        margin: 4px;
        border-radius: 16px;
    }

    
}


@media only screen and (max-width: 640px) {

    /*typography*/

    .title-big,
    .title-56,
    .home-header .area .col-full .title-giga {
        font-size: 44px;
    }

    .title-medium {
        font-size:42px;
    }



    /*layout*/

    section {
        position: relative;
        padding: 50px 0px;
    }
    .area {
        width: calc(100% - 44px);
    }


    .title-giga {
        font-size:44px;
    }

    

    



    /*home*/

    .home-back {
        height:680px;
        background-position: calc(100% + -160px) top;
    }

    .title-big .text-gradient {
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .pin-area {
        display:none;
    }

    .home-header .area .col-8, .home-header .area .col-full {
        padding-bottom:0;
    }

    .text-opening {
        padding-top:140px;
        padding-bottom:0;
    }

    .text-opening .buttons {
        margin-top: 50px;
    }

    .home-header .title-big {
        margin-bottom:40px;
    }

    .button, .fake-button {
        width:100%;
        text-align: center;
    }

    .resp-features-home img.f1 {
        width:calc(100% + 88px);
    }

    .text-giga {
        font-size:66px;
    }

    .sub-section {
        transform: translateX(0px);
    }

    .icon.small {
        width: 32px;
        height:32px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .gap-20 {
        gap: 18px;
    }

    .icon.small img {
        width: 16px;
    }

    .gap-20 .col-3,
    .gap-20.wrap .col-3 {
        width: calc(50% - 9px);
    }

    .opening .area:last-child {
        margin-top: 60px;
    }

    .feat-section-explainer:last-child {
        padding-bottom:0;
    }

    #dao-carousel {
        padding-top:80px;
    }

    #dao-carousel .owl-nav {
        top: 20px;
    }

    #testimonials-carousel {
        width: calc(100% - 40px);
    }

    #testimonials-carousel .owl-nav {
        right: calc(0% - 40px);
    }

    .cta-card .wrappo {
        padding: 22px;
    }

    .rocket-cta {
        top: 10px;
        right: 10px;
    }

    .cta-card ul {
        padding-top:20px;
    }

    .cta-bottom {
        padding-top: 28px;
        margin-top: 28px;
    }

    .cta-bottom .button {
        margin:20px 0px;
    }

    .generic-card .wrappo {
        padding:26px;
    }

    .fake-button.space {
        margin-top: 20px;
    }

    .generic-card .title-40 {
        margin-bottom: 20px;
    }

    .audience-back {
        border-radius: 0px 0px 40px 40px;
    }

    #audience .col-4:last-child {
        margin-bottom:0px;
    }

    .gap-20 .col-3:has(.education-item),
    .gap-20 .col-4:has(.news-item)   {
        width: 100%;
    }

    .education-item {
        padding-bottom:20px;
        border-bottom:1px solid var(--lb-transp);
    }

    .col-3:last-child .education-item {
        border:none;
        padding-bottom:none;
    }

    .news-item {
        padding-bottom:30px;
        border-bottom:1px solid var(--lb-transp);
    }

    .col-4:last-child .news-item {
        border:none;
        padding-bottom:none;
    }

    #education .area.with-titles, #news .area.with-titles {
        padding-bottom: 30px;
    }

    .resp-logo {
        width:120px;
    }

    .footer-nav-1 nav ul {
        gap:20px;
    }

    .footer-nav-1 nav ul li {
        width: calc(50% - 10px);
    }

    footer {
        padding-top:50px;
    }

    .footer-nav-2 ul li ul {
        width:100%;
    }

    footer form,
    footer form .mauticform-innerform {
        flex-wrap: wrap;
        gap:26px;
        margin-top: 30px;
    }

    .footer-bottom {
        flex-wrap: wrap;
    }

    footer ul li ul li a {
        padding: 4px 0px;
    }

    .footer-nav-2 ul li ul li a {
        padding:3px 0px;
    }

    .foot-logo {
        margin-top:40px;
        width:120px;
    }

    /* get started */

    .get-steps .area {
        width: calc(100% - 44px);
        margin-left: auto;
        margin-right: auto;
    }

    .get-steps .steps {
        width:100%;
    }

    .get-step {
        padding:50px 0px;
    }

    .steps-counter {
        display:none;
    }

    .get-start-icon-case {
        width:60px;
        height:60px;
    }

    .get-start-icon-case img {
        width:30px;
    }

    .get-started-hero-back {
        background-position: calc(100% + -100px) bottom;
        opacity: .7;
    }

    .get-start-icon-case {
        display:none;
    }

    .get-started-hero .col-8,
    .get-started-hero .col-9,
    .get-started-hero.intro .col-8,
    .get-started-hero.about-us .col-7 {
        padding-top:60px;
    }

    .get-image-resp .onb-2,
    .get-image-resp .onb-1 {
        border-radius:10px;
    }

    .get-step .buttons .button:last-child {
        margin-top:0;
    }

    /* general forms*/

    .form-wrap .wrappo {
        padding: 26px;
    }

    form .wrap-area.half {
        width: 100%;

    }

    /*pricing plans*/

    .price-column {
        width:100%;
    }

    section.upsell {
        padding-bottom:100px;
    }

    /* news article */

    .news-hero-top.category.article .gap-20 .col-4 {
        margin-top:0;
    }

    .news-hero-top.category.article .author-top-card {
        margin-top:0px;
        padding:0px;
        background:none;
    }

    .author-top-card .avatar {
        width: 40px;
        height: 40px;

        
    }

    .news-hero-top.category.article .title-big {
        font-size: 44px;
    }


    .area.with-feature-carousel {
        width: calc(100% - 80px);
        margin: auto;
        position: relative;
        margin-top:60px;
    }

    #features-overview .owl-nav {
        position: absolute;
        bottom: 80px;
        left: -30px;
        width: calc(100% + 60px);
    }

    #features-overview .owl-carousel .owl-nav button.owl-prev:before,
    #features-overview .owl-carousel .owl-nav button.owl-next:before {
        width:5px;
    }

    .feature-list .col-2 {
        width:calc(50% - 10px);
    }

   

    .faeture-icon-big {
        position: absolute;
        right: auto;
        left: -12px;
        top: 144px;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: var(--gradient);
    }


    .get-steps .subtitle {
        font-size:13px;
    }

    .breadcrumbs {
        font-size:13px;
        font-weight:600;
    }

    .feature-list .col-3 {
        width:calc(100%);
    } 

    .title-78 {
        font-size:52px;
    }

    .subtitle {
        font-size: 14px;
        font-weight: 600;
        color: var(--light-blu);
        margin: 0px 0px!important;
        line-height: 1.2em;
    }

    .services-hero-back {
        background-position: calc(100% + -100px) bottom;
    }

    .form-wrap.pop-inside .title-56 {
        font-size:32px;
        line-height:34px;
        margin-bottom:30px;
    }

    .service-hero .breadcrumbs {
        display:none;
    }

    #eos-banner,
    #eos-banner:hover {
        width:100%;
        border-radius:0px;
        padding:4px 14px;
    }

    #eos-banner:after {
        display:none;
    }

    #eos-banner img {
        width:40px;
    }

    .intro-ab-cont p {
        font-size:20px;
        line-height:1.8em;
        margin:22px 0px;
    }
}